<div class="container d-flex m-3 justify-content-center">
<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.check_box :completed %>
  <%= f.label :completed %>
  <%= f.submit class:"btn btn-primary" %>
<% end %>
</div>
